@import "tailwindcss";
@import "./tailwind-config.css";
@import "tailwindcss-primeui";

*,
*::before,
*::after {
   box-sizing: border-box;
   /* margin: 0; */
}

body {
   @apply text-lg;
   /* color: var(--p-surface-50); */
   color: black;
   font-family: sans-serif;
   line-height: 1.6;
   transition:
      color 0.5s,
      background-color 0.5s;
   text-rendering: optimizelegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
