@layer utilities {
   .container {
      margin-inline: auto;

      /* @variant sm {}*/
   }
}

@layer components {
   /* === FORMS === */
   .spacing-form {
      @apply flex flex-col;
   }

   /* Small margin for labels and paragraphs */
   .spacing-form > label,
   .spacing-form > p {
      @apply mb-1;
   }

   /* Small margin for error messages */
   .spacing-form .p-message {
      @apply mt-1;
   }

   /* Larger bottom margin for everything else (default case) */
   .spacing-form > input,
   .spacing-form > textarea,
   .spacing-form > select,
   .spacing-form > div {
      @apply mb-6;
   }

   /* BUT: remove bottom margin if the next sibling is a button */
   .spacing-form input:has(+ button),
   .spacing-form textarea:has(+ button),
   .spacing-form select:has(+ button),
   .spacing-form div:has(+ button),
   .spacing-form p:has(+ button) {
      @apply mb-0;
   }

   /* Add margin before the button */
   .spacing-form button {
      @apply mt-4;
   }

   /* === SPACING === */
   .spacing-page-sections {
      @apply flex flex-col gap-12;
   }

   .spacing-groups {
      @apply flex flex-col gap-10;
   }

   .spacing-elements {
      @apply flex flex-col gap-4;
   }

   /* === TEXT === */
   /* H1 - Mainly used for page headings */
   .h1 {
      @apply text-4xl font-medium mb-10;
   }
   .h2 {
      @apply text-2xl font-medium mb-4;
   }
   .h3 {
      @apply text-xl font-medium;
   }
   label {
      @apply text-base;
   }

   /* === PRIME COMPONENT OVERRIDES === */
   .p-card {
      @apply p-6;
   }
}

/* manually trigger the dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
   --color-*: initial;
}
